<div class='list-group'>
    <a href="/app/useredit" class='list-group-item'>
        <i class='fa fa-angle-double-right'></i> Change your account settings
    </a>

    <a href="/app/contactus" class='list-group-item'>
        <i class='fa fa-angle-double-right'></i> Contact us
    </a>
</div>