<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/head %>
</head>
<body>
    <% include ../common/navigation %>
    <div class='container' style='min-height: 450px'><div class='row'><div class='col-md-12'>

        <div class='row'>
            <div class='col-md-12'>
                <div class='page-header'>
                    <h2>Super Secret!!!!1!1!1!one!1</h2>
                </div>
 
                <div id='admin-body' class='page-body'>
                    LAPTOPS FOR DOGS <br>
                               <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top " src="/assets/images/img11.png" alt="Card image cap" style="max-width: 22rem; display: center;" >
                <div class="card-body" style="max-width: 22rem; display: block;">
                  <p class="card-text">Congrats! You found our top secret plans for the our next hit product.</p>
                  <p> Here's your precious secret: a425439a-3dff-4f5d-b49e-3a63b5368562</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
              </div>
            </div>
                </div>
                
            </div>
         </div>
    </div></div></div>
    <% include ../common/footer %>
</body>
</html>
