<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/head %>
    <title>Homepage</title>
</head>
<body>
    <% include common/navigation %>
    <div class='container' style='min-height: 450px'><div class='row'>
        <div class='col-md-12'>

        <div class='row'>

<!--             <div class='col-md-9'>
 -->                <% if (messages.success) { %>
                    <div class="alert alert-success"><%=messages.success%></div>
                <% } else if (messages.danger) { %>
                    <div class="alert alert-danger"><%= messages.danger %></div>
                <% } else if (messages.warning) {%> 
                    <div class="alert alert-warning"><%= messages.warning %></div>
                <% } else if (messages.info) {%> 
                    <div class="alert alert-info"><%= messages.info %></div>
                <% } %>                


<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to Crapple</h1>
          <p class="lead text-muted">Crapple makes state of the art machines for state of the art humans. See what sets us apart. Remember, think difficult.</p>

        </div>
</section>


      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top " src="/assets/images/img1.jpg" alt="Card image cap" style="max-width: 18rem; display: center;">
                <div class="card-body" style="max-width: 18rem; display: block;">
                  <p class="card-text">Your world. An arm's length away. Coffee, cell phones, children, steering wheels...Life's full unncessary distractions. iArm give you, well, an extra arm.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
              </div>
            </div>

                  <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top " src="/assets/images/img2.jpg" alt="Card image cap" style="max-width: 18rem; display: block;">
                <div class="card-body" style="max-width: 18rem; display: block;">
                  <p class="card-text">iCycle. Now you too can ride in style. Effortlessly ride as the lightweight aluminum body and lack of brakes let you hurtle with ease.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
              </div>
            </div>

                  <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top " src="/assets/images/img3.jpg" alt="Card image cap" style="max-width: 18rem; display: block;">
                <div class="card-body" style="max-width: 18rem; display: block;">
                  <p class="card-text">The iBarro lets you move things in ways you would never have thought possible. Nobody knows how to shuffle around dirt better than we do. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
              </div>
            </div>


<div class='container' style='min-height: 100px' >
</div>
                  <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top " src="/assets/images/img10.png" alt="Card image cap" style="max-width: 18rem; display: block;">
                <div class="card-body" style="max-width: 18rem; display: block;">
                  <p class="card-text">Turn your windows computer into a Crapple laptop! Do It Yourself Kit: converts any laptop into a Crapple Lackbook Pro.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
              </div>
            </div>

                  <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top " src="/assets/images/img5.jpg" alt="Card image cap" style="max-width: 18rem; display: block;">
                <div class="card-body" style="max-width: 18rem; display: block;">
                  <p class="card-text">The Greatest Thing to Slice Bread. There is simply nothing this laptop can't do. Well, besides handle video editing or two USB devices. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
              </div>
            </div>

                  <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top " src="/assets/images/img4.jpg" alt="Card image cap" style="max-width: 18rem; display: block;">
                <div class="card-body" style="max-width: 18rem; display: block;">
                  <p class="card-text">Vintage Crapple charging cable. Skip the break in process and get straight to the classic style you know and love.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
              </div>
            </div>
            </div>
        </div>
<div class='container' style='min-height: 100px' >
</div>





    </div></div></div>
    <% include common/footer %>
</body>
</html>
